Create New User
<form action='' method="POST">
  <label>First Name<input type="text" name="first_name"></label>
  <label>Last Name<input type="text" name="last_name"></label>
  <label>Email<input type="text" name="email"></label>
  <label>Password<input type="password" name="password"></label>
  <input type='submit' value='Submit'>
</form>
