<h1>User Login Page</h1>

<form action="/login" method="POST">
  <p>Enter email address</p>
  <input type="text" name="email">
  <p>Enter password</p>
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>

<p><a href="/create">Create new account</a></p>

